/* Import Popping fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.nav-bg{
    background-color: #562EFF;
    padding: 20px;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav .icon img{
    width: 40.42px;
    height: 51px;
}
span p{
    color: white;
    margin-left: 20px;
}
.icon-para-display{
    display: flex;
}
span a{
    text-decoration: none;
    color: white;
    margin-left: 20px;
}
.a-profile-display{
    display: flex;
    align-items: center;
}
span img{
    margin-left: 20px;
}


/* Main Content */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
.top-player{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    margin-top: 3px;
    font-size: 24px;
    margin-bottom: 30px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player img{
    width: 56px;
    height: 56px;
}
.player{
    display: flex;
    align-items: center;
}
.player-name{
    margin-left: 16px;
    font-size: 18px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 33px;
    margin-bottom: 27px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
    
}
.blog .thumbnail img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author {
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}

/* Latest Courses */

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 24px;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}


.course-author a{
    text-decoration: none;
    color: #ED6B4F;
}
.course-rating{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.rating-number{
    color: #A2A2A2;
}
.course-duration{
    background-color: #FFE4E8;
    padding:10px;
    border-radius: 15px;
    color: #FF4A60;
}



/* Media Queries  */

@media only screen and (max-width:688px) {
    nav{
        width: 100%;
        flex-direction: column;
        
    }
    .container{
        width: 100%;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .blog{
        flex-direction: column;
    }

}


/* Tablet Devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container{
        width: 100%;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
}